%div.page-header
  %h1
    = title(resource.headline)

%div#content
  %div.row-fluid
    %div.span6= image_tag(resource.avatar, class: "img-polaroid img-rounded")
    %div.span6
      = resource.information.html_safe