.nested-fields.well
  - unless f.object.new_record?
    = image_tag(f.object.avatar.thumb.url)
  = f.input :avatar, label: "Image", as: :file
  = f.input :description, label: "Short Description"
  = link_to_remove_association "remove image", f, class: "btn"