%div.page-header
    %h1
        = title(resource.title)
        %small= title(resource.subtitle) if resource.subtitle.present?
%div#content= resource.content.html_safe

= link_to "Edit Post", edit_page_path(resource), class: "btn" if user_signed_in?